.conversations {

	width: 100%;
	list-style-type: none;
	padding: 0;

	.head {
		font-size: 15px;
		border-bottom: 1px solid $background;
		padding: 15px;

		form {
			display: inline-block;
		}

		a,
		button {
			background: none;
			border: none;
			display: inline-block;
			color: #333;
			margin-right: 20px;

			&.active {
				font-weight: 800;
			}

			&:hover,
			&:active,
			&:focus {
				color: #000;
				text-decoration: none;
			}
		}

		span {
			font-size: 22px;
			margin-right: 4px;
			vertical-align: middle;
		}
	}

	.footer {
		padding: 15px;
	}
}

li.conversation,
li.message {

	background: #fff;
	line-height: 26px;
	border-bottom: 1px solid $background;
	width: 100%;
	padding: 15px 15px 30px;
	position: relative;

	&:nth-child(odd) {
		background: #FCFCFC;
	}

	.avatar {

		position: absolute;

		img {
			height: 50px;
			width: 50px;
			border-radius: 50%;
		}
	}

	.wrapper {

		display: block;
		text-decoration: none;
		color: #444;
		padding-left: 70px;
		padding-right: 100px;
		
		.username {
			margin-bottom: 10px;
			display: block;
			font-size: 16px;
			font-weight: 800;
		}


		.bold {
			font-weight: 800;
		}
	}

	.time {
		color: #bbb;
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 12px;
		font-weight: 600;
	}
}

.conv-pag {

	font-weight: 800;
	list-style-type: none;
	padding: 0;

	&>li {

		display: inline-block;
		padding: 0 4px;

		&>a {
			color: #333;
		}

		&.active>span {
			text-decoration: underline;
		}
	}

}