#events-calendar {

	.info {
		font-weight: bold;
		line-height: 28px;
		text-align: right;

		span {
			vertical-align: middle;
		}
	
		@media (max-width: 768px) {
	
			text-align: left;

			.date,
			.time,
			.location {
				display: inline-block;
			}
		}

		.date {
			font-size: 16px;
			margin-bottom: 6px;
		}
	}
}