#singles-list {

	.basic-infos {
		padding: 20px;
		text-align: center;
	}

	.details {
		padding: 20px;
	}

	.single {
		border: 1px solid #eee;
		margin-bottom: 50px;

		h1 {
			font-size: 24px;
			margin-top: 4px;
			text-align: center;

			a {
				color: #555;
			}
		}

		.icon-location {
			vertical-align: middle;
		}

		.label {
			display: inline-block;
			margin-top: 10px;
			padding: 6px;
		}
	}

	.avatar {
		border-radius: 0;
		width: 100%;
	}
}