#user-profile {

	position: relative;
	
	.profile-image {

		background-size: contain;
		border-radius: 50%;
		margin-top: 30px;
		width: 100%;
	}

	.edit-profile-link {

		display: block;
		font-style: italic;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	.user-infos {

		dt {
			float: left;
			font-weight: bold;
			text-align: left;
			width: 80px;
		}

		dd {
			margin-left: 100px;
		}
	}
}