/**
 * @license angular-bootstrap-datetimepicker  version: 0.3.8
 * (c) 2013-2014 Knight Rider Consulting, Inc. http://www.knightrider.com
 * License: MIT
 */
.datetimepicker {
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
  direction: ltr;
  width: 320px; }

.datetimepicker.datetimepicker-rtl {
  direction: rtl; }

.datetimepicker.datetimepicker-rtl table tr td span {
  float: right; }

.datetimepicker-dropdown, .datetimepicker-dropdown-left {
  top: 0;
  left: 0; }

[class*=" datetimepicker-dropdown"]:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute; }

[class*=" datetimepicker-dropdown"]:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute; }

[class*=" datetimepicker-dropdown-top"]:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0; }

[class*=" datetimepicker-dropdown-top"]:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  border-bottom: 0; }

.datetimepicker-dropdown-bottom-left:before {
  top: -7px;
  right: 6px; }

.datetimepicker-dropdown-bottom-left:after {
  top: -6px;
  right: 7px; }

.datetimepicker-dropdown-bottom-right:before {
  top: -7px;
  left: 6px; }

.datetimepicker-dropdown-bottom-right:after {
  top: -6px;
  left: 7px; }

.datetimepicker-dropdown-top-left:before {
  bottom: -7px;
  right: 6px; }

.datetimepicker-dropdown-top-left:after {
  bottom: -6px;
  right: 7px; }

.datetimepicker-dropdown-top-right:before {
  bottom: -7px;
  left: 6px; }

.datetimepicker-dropdown-top-right:after {
  bottom: -6px;
  left: 7px; }

.datetimepicker > div {
  display: none; }

.datetimepicker.minutes div.datetimepicker-minutes {
  display: block; }

.datetimepicker.hours div.datetimepicker-hours {
  display: block; }

.datetimepicker.days div.datetimepicker-days {
  display: block; }

.datetimepicker.months div.datetimepicker-months {
  display: block; }

.datetimepicker.years div.datetimepicker-years {
  display: block; }

.datetimepicker table {
  margin: 0; }

.datetimepicker .table td, .datetimepicker .table th {
  text-align: center;
  width: 14.6%;
  height: 20px;
  border-radius: 4px;
  border: none; }

.datetimepicker .table-striped > tbody > tr:nth-child(odd) > td, .datetimepicker .table-striped > tbody > tr:nth-child(odd) > td, .datetimepicker .table-striped > tbody > tr:nth-child(odd) > td, .datetimepicker .table-striped > tbody > tr:nth-child(odd) > th, .datetimepicker .table-striped > tbody > tr:nth-child(odd) {
  background-color: transparent; }

.datetimepicker table tr td.minute:hover {
  background: #eeeeee;
  cursor: pointer; }

.datetimepicker table tr td.hour:hover {
  background: #eeeeee;
  cursor: pointer; }

.datetimepicker table tr td.day:hover {
  background: #eeeeee;
  cursor: pointer; }

.datetimepicker table tr td.past, .datetimepicker table tr td.future {
  color: #999999; }

.datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default; }

.datetimepicker table tr td.today, .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: linear-gradient(top, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.datetimepicker table tr td.today:hover, .datetimepicker table tr td.today:hover:hover, .datetimepicker table tr td.today.disabled:hover, .datetimepicker table tr td.today.disabled:hover:hover, .datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today:hover.disabled, .datetimepicker table tr td.today.disabled.disabled, .datetimepicker table tr td.today.disabled:hover.disabled, .datetimepicker table tr td.today[disabled], .datetimepicker table tr td.today:hover[disabled], .datetimepicker table tr td.today.disabled[disabled], .datetimepicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a; }

.datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9; }

.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active[disabled], .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc; }

.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9; }

.datetimepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px; }

.datetimepicker span.hour {
  height: 26px;
  line-height: 26px; }

.datetimepicker span.minute {
  height: 26px;
  line-height: 26px; }

.datetimepicker table tr td span:hover {
  background: #eeeeee; }

.datetimepicker table tr td span.disabled, .datetimepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default; }

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active[disabled], .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc; }

.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9; }

.datetimepicker table tr td span.past, .datetimepicker table tr td span.future {
  color: #999999; }

.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th {
  cursor: pointer; }

.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover {
  background: #eeeeee; }

.avatar {
  width: 50px;
  border-radius: 50%;
  display: inline-block; }

.top-area {
  background: url('/img/dresden.jpg');
  background-size: cover;
  color: #FFF;
  padding: 30px 0;
  margin-top: 60px; }

.ajax-loader {
  background-image: url('/img/ajax-loader.svg');
  background-repeat: no-repeat;
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  margin: 100px auto 100px; }

#scrollToTop {
  background: #F06D6D;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  -webkit-transition: 0.5s all;
          transition: 0.5s all; }
  #scrollToTop.ng-animate {
    opacity: 0; }
  #scrollToTop:hover {
    background: #2f3c4e; }

@font-face {
  font-family: "elbseite";
  src: url("/fonts/elbseite.eot");
  src: url("/fonts/elbseite.eot?#iefix") format("embedded-opentype"), url("/fonts/elbseite.woff") format("woff"), url("/fonts/elbseite.ttf") format("truetype"), url("/fonts/elbseite.svg#elbseite") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "elbseite" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "elbseite" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-star:before {
  content: "a"; }

.icon-star-two:before {
  content: "b"; }

.icon-denied-block:before {
  content: "d"; }

.icon-male-symbol:before {
  content: "e"; }

.icon-female-symbol:before {
  content: "f"; }

.icon-pencil:before {
  content: "g"; }

.icon-chevron-down-circle:before {
  content: "h"; }

.icon-chevron-up-circle:before {
  content: "i"; }

.icon-filter:before {
  content: "k"; }

.icon-mail:before {
  content: "l"; }

.icon-stack:before {
  content: "m"; }

.icon-paperplane:before {
  content: "n"; }

.icon-level-up:before {
  content: "o"; }

.icon-trash:before {
  content: "p"; }

.icon-download:before {
  content: "q"; }

.icon-clock:before {
  content: "r"; }

.icon-location:before {
  content: "s"; }

.icon-caret-down-two:before {
  content: "t"; }

.icon-cancel:before {
  content: "v"; }

.icon-chevron-up-1:before {
  content: "w"; }

.icon-heart:before {
  content: "u"; }

.icon-calendar:before {
  content: "c"; }

* {
  font-family: 'Open Sans', sans-serif; }

h2.bottom-line:after {
  content: '';
  display: block;
  background: #bbb;
  margin: 24px auto 44px;
  width: 60px;
  height: 3px; }

.oder {
  font-size: 22px;
  text-align: center;
  margin-top: 60px; }

.panel {
  background: transparent;
  border: none;
  color: #333;
  display: inline-block;
  padding: 16px;
  margin-bottom: 20px;
  width: 100%; }
  .panel .panel-heading {
    display: block;
    border-bottom: 2px solid #6e86a8;
    margin-bottom: 20px;
    padding: 0 0 10px;
    position: relative; }
    .panel .panel-heading:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 28px;
      background-color: #2f3c4e;
      bottom: -2px;
      left: 0; }
    .panel .panel-heading .panel-title {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      padding-left: 10px; }
    .panel .panel-heading .panel-settings {
      float: right; }
      .panel .panel-heading .panel-settings div {
        display: inline-block; }
    .panel .panel-heading .panel-icon {
      background: #2f3c4e;
      border-radius: 2px;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      padding: 5px 0;
      text-align: center;
      height: 28px;
      width: 28px; }
  .panel.no-padding {
    padding: 0; }

.panel-red {
  background: #F06D6D;
  color: #fff; }
  .panel-red .panel-heading {
    border-bottom: 2px solid #f59b9b; }
    .panel-red .panel-heading:before {
      background-color: #eb3f3f; }
    .panel-red .panel-heading .panel-icon {
      background: #eb3f3f; }

.panel-blue {
  background: #3B95E3;
  color: #fff; }
  .panel-blue .panel-heading {
    border-bottom: 2px solid #68ade9; }
    .panel-blue .panel-heading:before {
      background-color: #1d7cce; }
    .panel-blue .panel-heading .panel-icon {
      background: #1d7cce; }

.stacked {
  /*	border-bottom: 1px solid rgb(211, 213, 215);
	border-radius: 2px;
	box-shadow: rgb(226, 227, 228) 0px 0px 5px 0px;
	position: relative;

	&:after {
		content: "";
		height: 2px;
		width: 100%;
		background-color: #FFF;
		border-bottom: 1px solid #d3d5d7;
		box-shadow: 0 1px 5px 0 #e2e3e4;
		bottom: 2px;
		left: 0;
		position: absolute;
	}*/ }

/*
@import 'custom/images';
@import 'custom/user';
@import 'custom/singles';*/
/* Basics */
.btn {
  border-radius: 2px;
  margin-bottom: 5px;
  font-size: 13px;
  padding: 10px;
  -webkit-transition: 0.5s all;
          transition: 0.5s all; }

.btn-red {
  background: #F06D6D;
  color: #fff;
  text-transform: uppercase; }
  .btn-red:hover, .btn-red:active, .btn-red:focus {
    background: #2f3c4e;
    color: #fff;
    text-decoration: none; }

.btn-blue {
  background: #3B95E3;
  color: #fff; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background: #1d7cce;
    color: #fff;
    text-decoration: none; }

.big-btn {
  display: block;
  position: relative;
  width: 165px;
  height: 165px;
  float: left;
  margin: 0 30px 30px 0;
  color: #333;
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: background-position 400ms ease, border-bottom 400ms ease;
          transition: background-position 400ms ease, border-bottom 400ms ease; }
  .big-btn span {
    position: absolute;
    left: 12px;
    bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
            transition: color 0.5s; }
  .big-btn:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.4); }
    .big-btn:hover span {
      color: #F06D6D; }

.btn-sign-up {
  background: #fff;
  color: #555;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color 0.5s, border-bottom 0.4s ease;
          transition: color 0.5s, border-bottom 0.4s ease; }
  .btn-sign-up:hover {
    color: #333;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4); }

.btn-contact {
  margin-top: 16px; }

.favBtn, .trashBtn {
  cursor: pointer;
  color: #bbb;
  display: inline-block; }
  .favBtn:hover, .trashBtn:hover {
    color: #888; }
  .favBtn.active, .trashBtn.active {
    color: #F06D6D; }
    .favBtn.active:hover, .trashBtn.active:hover {
      color: #e92828; }

/*==========  Block Button  ==========*/
.block-button.active {
  color: #F06D6D; }

/*==========  Feedback Button  ==========*/
.feedback-btn {
  height: 104px;
  width: 104px;
  position: fixed;
  top: 40%;
  z-index: 999;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.feedback-btn a {
  display: block;
  background: #888;
  padding: 8px 16px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none; }

.feedback-btn a:hover {
  background: #06c; }

.entry {
  margin-bottom: 30px; }
  .entry .entry-heading {
    margin-bottom: 10px;
    position: relative; }
    .entry .entry-heading .entry-icon {
      border: 8px solid #fff;
      border-radius: 50%;
      position: absolute;
      left: -85px; }
      .entry .entry-heading .entry-icon img {
        width: 56px; }
      .entry .entry-heading .entry-icon:hover {
        border-color: #FAFAFA; }
    .entry .entry-heading .entry-options {
      font-size: 22px;
      position: absolute;
      top: 10px;
      right: -35px; }
    .entry .entry-heading .wrapper {
      padding-top: 14px; }
      .entry .entry-heading .wrapper .entry-title {
        font-size: 18px; }
      .entry .entry-heading .wrapper .entry-subtitle {
        color: #bbb;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px; }
      .entry .entry-heading .wrapper .entry-meta {
        float: right; }
        .entry .entry-heading .wrapper .entry-meta span.tag {
          background: #F0F3F6;
          margin-left: 10px;
          padding: 4px 6px; }

/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

* {
  margin: 0; }

html {
  overflow-y: scroll;
  height: 100%; }

body {
  background: #F0F3F6;
  height: 100%; }

textarea {
  resize: vertical; }

.main {
  background: #fff;
  padding: 45px;
  min-height: 600px; }

.main-wrapper {
  min-height: 100%;
  margin: 0 auto -80px;
  /* the bottom margin is the negative value of the footer's height */ }

footer {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding: 20px 0; }
  footer a {
    color: #333;
    -webkit-transition: color 0.5s;
            transition: color 0.5s; }
    footer a:hover {
      color: #000;
      text-decoration: none; }

footer, .push {
  height: 80px; }

.push-navbar {
  height: 70px;
  /* Equals height of navbar */ }

.list-tags {
  padding: 0; }
  .list-tags li {
    display: inline-block;
    background: #ddd;
    padding: 4px 8px;
    margin: 0 8px 8px 0;
    border-radius: 6px;
    font-size: 12px; }
    .list-tags li a {
      color: #333; }
      .list-tags li a:hover {
        text-decoration: none; }
  .list-tags.hover li:hover {
    background: #F0A0A0;
    color: #fff; }
    .list-tags.hover li:hover a {
      color: #fff; }

.list-unstyled, .list-singles, .list-events {
  padding-left: 0;
  list-style: none; }

.list-singles li {
  margin-bottom: 10px; }
  .list-singles li .wrapper {
    display: inline-block;
    padding-left: 14px;
    position: relative;
    top: 12px; }
    .list-singles li .wrapper a {
      color: #333;
      font-size: 16px;
      font-weight: 800; }
    .list-singles li .wrapper span {
      color: #bbb;
      display: block;
      font-size: 12px;
      font-weight: 800; }

.modal-dialog {
  margin-top: 200px; }
  .modal-dialog h1 {
    font-size: 28px;
    margin-top: 0; }
  @media (max-width: 768px) {
    .modal-dialog {
      margin-top: 30px; } }

.modal-content {
  border: none;
  border-radius: 0; }
  @media (min-width: 768px) {
    .modal-content {
      box-shadow: none; } }
  .modal-content .icon-cancel {
    color: #bbb;
    cursor: pointer;
    font-size: 26px;
    line-height: 26px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    -webkit-transition: 0.5s all;
            transition: 0.5s all; }
    .modal-content .icon-cancel:hover {
      color: #777; }

.modal-body {
  padding: 30px; }

#navbar {
  background: rgba(47, 60, 78, 0.95);
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px; }
  #navbar .navbar-brand {
    color: #fff;
    font-size: 22px;
    margin-top: 3px; }
  #navbar li {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 70px;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase; }
    #navbar li:active {
      background: inherit; }
  #navbar li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  #navbar li a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px; }
    #navbar li a span:first-child {
      vertical-align: middle; }
  #navbar li:hover {
    background: -webkit-linear-gradient(10deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 100%), -webkit-linear-gradient(170deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(80deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%), linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(280deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%); }
  #navbar li:focus {
    background: -webkit-linear-gradient(5deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.2) 100%), -webkit-linear-gradient(175deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(85deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0) 100%), linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(275deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0) 100%); }
  #navbar .dropdown-menu li {
    height: inherit;
    text-align: left; }
  #navbar .dropdown-menu a {
    color: #333; }
  #navbar .user {
    padding: 15px 0; }
    #navbar .user img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      vertical-align: bottom;
      -webkit-transition: 0.7s cubic-bezier(0.17, 0.67, 0.38, 1.46) all;
              transition: 0.7s cubic-bezier(0.17, 0.67, 0.38, 1.46) all; }
    #navbar .user span {
      font-size: 20px; }
    #navbar .user:hover img {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }
  #navbar .move {
    overflow: hidden; }
    #navbar .move a {
      display: block;
      color: #FFF;
      overflow: hidden;
      -webkit-transition: 0.3s ease all;
              transition: 0.3s ease all; }
      #navbar .move a span {
        display: block;
        line-height: 18px;
        -webkit-transform: translate(0, 180%);
            -ms-transform: translate(0, 180%);
                transform: translate(0, 180%);
        -webkit-transition: 0.2s cubic-bezier(0.17, 0.67, 0.38, 1.46) all;
                transition: 0.2s cubic-bezier(0.17, 0.67, 0.38, 1.46) all; }
      #navbar .move a .icon {
        font-size: 24px;
        -webkit-transform: translate(0, 10px);
            -ms-transform: translate(0, 10px);
                transform: translate(0, 10px);
        -webkit-transition: 0.2s cubic-bezier(0.17, 0.67, 0.38, 1.46) all;
                transition: 0.2s cubic-bezier(0.17, 0.67, 0.38, 1.46) all; }
      #navbar .move a .badge {
        background: #fff;
        border-radius: 50%;
        border: 2px solid #2f3c4e;
        color: #2f3c4e;
        font-size: 10px;
        font-weight: 900;
        height: 18px;
        width: 18px;
        position: absolute;
        top: 14px;
        line-height: 13px;
        margin-left: 4px;
        padding: 0 0 0 1px;
        text-align: center;
        z-index: 100;
        -webkit-transform: translate(0, 5px);
            -ms-transform: translate(0, 5px);
                transform: translate(0, 5px);
        -webkit-transition: 0.2s cubic-bezier(0.17, 0.67, 0.38, 1.46) all;
                transition: 0.2s cubic-bezier(0.17, 0.67, 0.38, 1.46) all; }
      #navbar .move a:hover span {
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0); }
      #navbar .move a:hover .icon {
        -webkit-transform: translate(0, 0) scale(1.2);
            -ms-transform: translate(0, 0) scale(1.2);
                transform: translate(0, 0) scale(1.2); }
      #navbar .move a:hover .badge {
        -webkit-transform: translate(0, -5px) scale(1.2);
            -ms-transform: translate(0, -5px) scale(1.2);
                transform: translate(0, -5px) scale(1.2); }
      @media (max-width: 768px) {
        #navbar .move a span {
          display: inline-block;
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none;
          -webkit-transition: none;
                  transition: none; }

        #navbar .move a .icon {
          display: none; }

        #navbar .move a .badge {
          font-size: 12px;
          display: inline-block;
          position: relative;
          background: inherit;
          border: none;
          top: 0;
          padding: 0;
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none;
          -webkit-transition: none;
                  transition: none; }

        #navbar .move a:hover .badge {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; }
 }

#sidebar h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  float: left;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  #sidebar h3:after {
    content: " ";
    clear: both;
    display: table;
    height: 1px;
    width: 100%; }

.comments .more-comments {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px; }
  .comments .more-comments span.arrow {
    color: #555;
    vertical-align: middle; }
  .comments .more-comments.cursor {
    cursor: pointer; }
.comments a {
  color: #3B95E3;
  display: inline-block;
  font-size: 16px;
  font-weight: 900; }
.comments .time-since {
  color: #bbb;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  display: inline-block; }
.comments .comment, .comments .create {
  margin-bottom: 15px;
  position: relative; }
  .comments .comment avatar, .comments .create avatar {
    position: absolute;
    z-index: 100; }
  .comments .comment img.avatar, .comments .create img.avatar {
    border-radius: 3px;
    vertical-align: top;
    width: 36px;
    height: 36px;
    margin-bottom: 10px; }
  .comments .comment .wrapper, .comments .create .wrapper {
    padding-left: 50px;
    position: relative; }
    .comments .comment .wrapper a, .comments .create .wrapper a {
      display: inline-block;
      font-size: 14px;
      font-weight: 600; }
    .comments .comment .wrapper .body, .comments .create .wrapper .body {
      color: #333;
      font-size: 13px;
      display: block;
      margin: 0; }
      .comments .comment .wrapper .body a, .comments .create .wrapper .body a {
        font-weight: normal; }

.muted-box {
  background: #FAFAFA;
  color: #999;
  cursor: pointer;
  padding: 6px 12px;
  width: 100%;
  min-height: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #EEE;
  border-radius: 5px; }

#stream .meta-data {
  border-bottom: 2px solid #DBDBDB;
  margin-bottom: 10px;
  padding: 6px 0; }
  #stream .meta-data .icon-calendar, #stream .meta-data .icon-location {
    vertical-align: middle; }
  #stream .meta-data .title {
    font-weight: 800; }
  #stream .meta-data .date {
    float: right; }
  #stream .meta-data .location {
    float: right;
    margin-left: 10px; }

.conversations {
  width: 100%;
  list-style-type: none;
  padding: 0; }
  .conversations .head {
    font-size: 15px;
    border-bottom: 1px solid #F0F3F6;
    padding: 15px; }
    .conversations .head form {
      display: inline-block; }
    .conversations .head a, .conversations .head button {
      background: none;
      border: none;
      display: inline-block;
      color: #333;
      margin-right: 20px; }
      .conversations .head a.active, .conversations .head button.active {
        font-weight: 800; }
      .conversations .head a:hover, .conversations .head a:active, .conversations .head a:focus, .conversations .head button:hover, .conversations .head button:active, .conversations .head button:focus {
        color: #000;
        text-decoration: none; }
    .conversations .head span {
      font-size: 22px;
      margin-right: 4px;
      vertical-align: middle; }
  .conversations .footer {
    padding: 15px; }

li.conversation, li.message {
  background: #fff;
  line-height: 26px;
  border-bottom: 1px solid #F0F3F6;
  width: 100%;
  padding: 15px 15px 30px;
  position: relative; }
  li.conversation:nth-child(odd), li.message:nth-child(odd) {
    background: #FCFCFC; }
  li.conversation .avatar, li.message .avatar {
    position: absolute; }
    li.conversation .avatar img, li.message .avatar img {
      height: 50px;
      width: 50px;
      border-radius: 50%; }
  li.conversation .wrapper, li.message .wrapper {
    display: block;
    text-decoration: none;
    color: #444;
    padding-left: 70px;
    padding-right: 100px; }
    li.conversation .wrapper .username, li.message .wrapper .username {
      margin-bottom: 10px;
      display: block;
      font-size: 16px;
      font-weight: 800; }
    li.conversation .wrapper .bold, li.message .wrapper .bold {
      font-weight: 800; }
  li.conversation .time, li.message .time {
    color: #bbb;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
    font-weight: 600; }

.conv-pag {
  font-weight: 800;
  list-style-type: none;
  padding: 0; }
  .conv-pag > li {
    display: inline-block;
    padding: 0 4px; }
    .conv-pag > li > a {
      color: #333; }
    .conv-pag > li.active > span {
      text-decoration: underline; }

#events-calendar .info {
  font-weight: bold;
  line-height: 28px;
  text-align: right; }
  #events-calendar .info span {
    vertical-align: middle; }
  @media (max-width: 768px) {
    #events-calendar .info {
      text-align: left; }
      #events-calendar .info .date, #events-calendar .info .time, #events-calendar .info .location {
        display: inline-block; } }
  #events-calendar .info .date {
    font-size: 16px;
    margin-bottom: 6px; }

#nav-settings {
  padding-left: 0;
  list-style: none; }

#singles-list .basic-infos {
  padding: 20px;
  text-align: center; }
#singles-list .details {
  padding: 20px; }
#singles-list .single {
  border: 1px solid #eee;
  margin-bottom: 50px; }
  #singles-list .single h1 {
    font-size: 24px;
    margin-top: 4px;
    text-align: center; }
    #singles-list .single h1 a {
      color: #555; }
  #singles-list .single .icon-location {
    vertical-align: middle; }
  #singles-list .single .label {
    display: inline-block;
    margin-top: 10px;
    padding: 6px; }
#singles-list .avatar {
  border-radius: 0;
  width: 100%; }

#user-profile {
  position: relative; }
  #user-profile .profile-image {
    background-size: contain;
    border-radius: 50%;
    margin-top: 30px;
    width: 100%; }
  #user-profile .edit-profile-link {
    display: block;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; }
  #user-profile .user-infos dt {
    float: left;
    font-weight: bold;
    text-align: left;
    width: 80px; }
  #user-profile .user-infos dd {
    margin-left: 100px; }
