<h1>Login</h1>
<form ng-controller="LoginController" ng-submit="login()">
	<div class="form-group">
		<label for="login">Benutzername oder Email</label>
		<input type="text" name="login" id="login" class="form-control" ng-model="inputData.login" required>
	</div>
	
	<div class="form-group">
		<label for="password">Passwort</label>
		<input type="password" name="password" id="password" class="form-control" ng-model="inputData.password" required>
	</div>

	<div class="alert alert-danger" role="alert" ng-if="message">{{ message }}</div>

	<button type="submit" class="btn btn-blue">Einloggen</button>
		
	<div class="checkbox">
		<label>
			<input type="checkbox" name="remember" checked ng-model="inputData.remember">
			Angemeldet bleiben
		</label>
	</div>

	<span class="">
		<a href="">Passwort vergessen</a>
	</span>

</form>					