<span class="icon-cancel" data-ng-click="dismiss()"></span>
<div class="modal-body">
	<p>
		Die Elbseite ist noch brandneu, daher kann es noch ein paar Fehler geben. Außerdem möchten wir zukünftig die Seite noch verbessern, weshalb uns dein Vorschläge interessieren würden. Hier kannst du uns eine Nachricht zukommen lassen, falls etwas nicht wie erwartet funktioniert oder du einen Verbesserungsvorschlag hast.
	</p>
	<form ng-submit="send()">
		<div class="form-group">
			<label for="message">Deine Nachricht</label>
			<textarea name="message" id="message" class="form-control" ng-model="feedback.message" rows="10"></textarea>
		</div>

		<button type="submit" class="btn btn-red">Absenden</button>
	</form>
</div>