<span class="icon-cancel" data-ng-click="modalOptions.close()"></span>
<div class="modal-body">

	<div ng-include="modalOptions.template"></div>
	<p ng-show="modalOptions.bodyText" class="text-center">{{modalOptions.bodyText}}</p>

	<button class="btn btn-red center-block"
	ng-show="modalOptions.actionButtonShow"
	data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>