@charset "UTF-8";

@font-face {
  font-family: "elbseite";
  src:url("/fonts/elbseite.eot");
  src:url("/fonts/elbseite.eot?#iefix") format("embedded-opentype"),
    url("/fonts/elbseite.woff") format("woff"),
    url("/fonts/elbseite.ttf") format("truetype"),
    url("/fonts/elbseite.svg#elbseite") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "elbseite" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "elbseite" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "a";
}
.icon-star-two:before {
  content: "b";
}
.icon-denied-block:before {
  content: "d";
}
.icon-male-symbol:before {
  content: "e";
}
.icon-female-symbol:before {
  content: "f";
}
.icon-pencil:before {
  content: "g";
}
.icon-chevron-down-circle:before {
  content: "h";
}
.icon-chevron-up-circle:before {
  content: "i";
}
.icon-filter:before {
  content: "k";
}
.icon-mail:before {
  content: "l";
}
.icon-stack:before {
  content: "m";
}
.icon-paperplane:before {
  content: "n";
}
.icon-level-up:before {
  content: "o";
}
.icon-trash:before {
  content: "p";
}
.icon-download:before {
  content: "q";
}
.icon-clock:before {
  content: "r";
}
.icon-location:before {
  content: "s";
}
.icon-caret-down-two:before {
  content: "t";
}
.icon-cancel:before {
  content: "v";
}
.icon-chevron-up-1:before {
  content: "w";
}
.icon-heart:before {
  content: "u";
}
.icon-calendar:before {
  content: "c";
}
