$font-stack: 'Open Sans', sans-serif;
$red: #F06D6D;
$blue: #3B95E3;
$dark-blue: #2f3c4e;
$background: #F0F3F6;

@import 'vendor/datetimepicker';
@import 'custom/general';
@import 'fonts';
@import 'custom/typography';
@import 'custom/panels';


/*
@import 'custom/images';
@import 'custom/user';
@import 'custom/singles';*/

/* Basics */
@import 'design/buttons';
@import 'design/entries';
@import 'design/layout';
@import 'design/lists';
@import 'design/modal';
@import 'design/navbar';
@import 'design/sidebar';

@import 'design/comments';
@import 'design/stream';

@import 'pages/conversations';
@import 'pages/events-calendar';
@import 'pages/settings';
@import 'pages/singles-index';
@import 'pages/user-profile';