<ul class="conversations stacked">
	<li class="head">
		<div style="display: inline-block;">
			<a href="#">Zurück</a>
		</div>
		<div class="pull-right">
			Pagination?
		</div>
	</li>
	<li class="head">
		<form ng-submit="submitNewMessage(newMessage)">
			<div class="form-group">
				<label for="body">Nachricht</label>
				<textarea name="body" id="body" rows="10" ng-model="newMessage"></textarea>
			</div>

			<input type="submit" value="Abschicken" class="btn btn-primary">
		</form>
	</li>
	<li class="conversation" ng-repeat="message in messages">
		<div class="time">
			{{ message.sendAt }}
		</div>
		<div class="avatar pull-left">
			<avatar user="{{ message.sendFrom }}"></avatar>
		</div>
		<div class="info pull-left">
			<span class="username">{{ message.sendFrom.username }}</span>
			<span class="preview">
				{{ message.body }}
			</span>
		</div>
		<div class="clearfix"></div>
	</li>
	<li class="head">
		<div class="pull-right">
			Pagination
		</div>
		<div class="clearfix"></div>
	</li>
</ul>