<ul class="conversations stacked" ng-controller="InboxController">
	<li class="head">
		<div style="display: inline-block;">
			<a href="#">Posteingang</a>
			<a href="#">Gesendet</a>
			<a href="#">Archiv</a>
		</div>
		<div class="pull-right">
			Pagination?
		</div>
	</li>
	<li class="conversation" ng-repeat="conversation in conversations">
		<a href="#/{{ conversation.talkingTo.username }}">
			<div class="time">
				{{ conversation.lastMessage.createdAt }}
			</div>
			<div class="avatar pull-left">
				<avatar user="{{ conversation.talkingTo }}"></avatar>
			</div>
			<div class="info pull-left">
				<span class="username">{{conversation.talkingTo.username}}</span>
				<span class="preview" ng-class="{ bold: !conversation.isRead }">
					{{ conversation.lastMessage.preview | limitTo: 110 }}...
				</span>
			</div>
		</a>
		<div class="clearfix"></div>
	</li>
	<li class="head">
		<div class="pull-right">
			Pagination?
		</div>
		<div class="clearfix"></div>
	</li>
</ul>