.avatar {
	width: 50px;
	border-radius: 50%;
	display: inline-block;
}

.top-area {
	background: url('/img/dresden.jpg');
	background-size: cover;
	color: #FFF;
	padding: 30px 0;
	margin-top: 60px;
}

.ajax-loader {
	background: {
		image: url('/img/ajax-loader.svg');
		repeat: no-repeat;
		size: 48px 48px;
	}
	height: 48px;
	width: 48px;
	margin: 100px auto 100px;
}

#scrollToTop {
	
	background: $red;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	line-height: 43px;
	text-align: center;
	display:block;
	width: 40px;
	height: 40px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 999;
	transition: 0.5s all;

	&.ng-animate {
		opacity: 0;
	}

	&:hover {
		background: $dark-blue;
	}
}