.panel {
	background: transparent;
	border: none;
	color: #333;
	display: inline-block;
	padding: 16px;
	margin-bottom: 20px;
	width: 100%;

	.panel-heading {

		display: block;
		border-bottom: 2px solid lighten($dark-blue, 30%);
		margin-bottom: 20px;
		padding: 0 0 10px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			height: 2px;
			width: 28px;
			background-color: $dark-blue;
			bottom: -2px;
			left: 0;
		}

		.panel-title {
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 10px;
		}

		.panel-settings {
			float: right;

			div {
				display: inline-block;
			}
		}

		.panel-icon {
			background: $dark-blue;
			border-radius: 2px;
			color: #fff;
			display: inline-block;
			font-size: 16px;
			padding: 5px 0;
			text-align: center;
			height: 28px;
			width: 28px;
		}
	}

	&.no-padding {
		padding: 0;
	}

}

.panel-red {

	background: $red;
	color: #fff;

	.panel-heading {
		border-bottom: 2px solid lighten($red, 10%);

		&:before {
			background-color: darken($red, 10%);
		}

		.panel-icon {
			background: darken($red, 10%);
		}
	}
}

.panel-blue {

	background: $blue;
	color: #fff;

	.panel-heading {
		border-bottom: 2px solid lighten($blue, 10%);

		&:before {
			background-color: darken($blue, 10%);
		}

		.panel-icon {
			background: darken($blue, 10%);
		}
	}
}

.stacked {
	
/*	border-bottom: 1px solid rgb(211, 213, 215);
	border-radius: 2px;
	box-shadow: rgb(226, 227, 228) 0px 0px 5px 0px;
	position: relative;

	&:after {
		content: "";
		height: 2px;
		width: 100%;
		background-color: #FFF;
		border-bottom: 1px solid #d3d5d7;
		box-shadow: 0 1px 5px 0 #e2e3e4;
		bottom: 2px;
		left: 0;
		position: absolute;
	}*/
}


