#singles-search {

	.form-group {
		margin-right: 20px
	}
}

#singles-list .single {

	padding: 0;

	.user {
		padding: 10px;
	}

	.footer {
		background: #FAFAFA;
		border-top: 2px solid #ccc;
		padding: 10px 10px 20px;
	}
}
