.activity,
.post {

	padding: 0;

	.panel-heading {

		margin: 16px 16px 0px;

		&:before {
			width: 40px;
		}

		img.avatar {
			width: 40px;
			height: 40px;
			vertical-align: top;
		}
	}

	h1 {
		font-size: 18px;
	}

	.content {
		padding: 16px;
	}

	.tags {

		float: right;

		.tag {
			background: #F6F6F6;
			border: 1px solid #e4e6e8;
			border-radius: 2px;
			color: #666;
			float: left;
			margin-left: 5px;
			padding: 10px;
			font-size: 11px;
			text-transform: uppercase;
		}
	}
}

.activity {
	.meta-data {
		background: $blue;
		color: #fff;
		padding: 10px 15px;
	}
}

.event-date {
	
	color: $red;
	font-weight: 800;
	margin-bottom: 4px;

	span {
		vertical-align: middle;
	}
}

.the-end {
	background: url('/img/theend.png');
	height: 70px;
	width: 260px;
	margin: 0 auto;
}