* {
	
	font-family: $font-stack;
}

h2 {
	
	&.bottom-line:after {

		content: '';
		display: block;
		background: #bbb;
		margin: 24px auto 44px;
		width: 60px;
		height: 3px;
	}
}

.oder {
	
	font-size: 22px;
	text-align: center;
	margin-top: 60px;
}