.single .user,
.user {
	display: inline-block;

	img.avatar {
		background: blue;
		border-radius: 3px;
		vertical-align: top;
	}

	.wrapper {

		display: inline-block;
		padding: 0 0 0 10px;
	
		a {
			color: #333;
			display: block;
			font-size: 16px;
			font-weight: 900;
			transition: 0.5s all;

			&:hover {
				color: #555;
			}
		}

		span {
			color: #bbb;
			font-size: 12px;
			font-weight: 600;
			line-height: 24px;
		}

		span.label {
			color: #fff;
		}
	}
}