<div class="comments">
	<div class="more-comments" ng-click="toggleComments()" ng-class="{cursor: canExpandComments()}">
		<ng-pluralize count="comments.length" ng-hide="showAll"
					  when="{'0': 'Hinterlasse den ersten Kommentar',
					  		 '1': '1 Kommentar',
					  		 '2': '2 Kommentare',
					  		 '3': '3 Kommentare',
					  		 '4': '{{comments.length - 3}} weiterer Kommentar',
							 'other': '{{comments.length - 3}} weitere Kommentare'}">
		</ng-pluralize>
		<span ng-show="showAll">Kommentare ausblenden</span>
		<span class="arrow" ng-class="expandClass" ng-if="canExpandComments()"></span>
	</div>

	<div ng-repeat="comment in comments | limitTo: limit">
		<div class="comment">
			<avatar context="'comment'"></avatar>
			<div class="wrapper">
				<div>
					<a href="/@{{ comment.user.username }}">{{ comment.user.username }}</a>
					<span class="time-since" am-time-ago="comment.time"></span>
					<div class="pull-right" ng-if="comment.canDelete" ng-click="deleteComment(comments.indexOf(comment))" tooltip="Entfernen">
						<div class="icon-cancel"></div>
					</div>
				</div>
				<div class="body" ng-bind-html="comment.body | linkyUnsanitized:'_blank' | nl2br"></div>
			</div>
		</div>
	</div>

	<form ng-submit="submitComment()">
		<div class="create">
			<avatar context="'authUser'"></avatar>

			<div class="wrapper" ng-click="startCreating()" ng-hide="isCreating">
				<div class="muted-box">Neuen Kommentar hinterlassen</div>
			</div>

			<div class="wrapper" ng-show="isCreating">
				<div class="form-group">
					<textarea msd-elastic name="body" id="body" rows="1" class="form-control" ng-model="commentData.body" ng-class="{ active: isActive }" ng-blur="unfocus()" required></textarea>
				</div>
				<input type="submit" class="btn btn-blue" value="Kommentieren">
				<div class="btn btn-default" ng-click="stopCreating()">Abbrechen</div>
			</div>
		</div>
	</form>
</div>