<div class="entry-heading">
	<avatar class="entry-icon" context="'post'" size="40"></avatar>
	<div class="entry-options">
		<div ng-if="post.canDelete" class="icon-cancel tag trashBtn" ng-click="deletePost($index)" tooltip="Entfernen"></div>
		<div class="favorite" favorite-button type="{{post.type}}" item="{{post.id}}" favorited="post.favorited" tooltip="Favorisieren"></div>
	</div>
	<div class="wrapper">
		<div class="entry-meta">
			<span ng-repeat="tag in post.tags" class="tag">{{ tag.name }}</span>
		</div>
		<a class="entry-title" href="/@{{ post.user.username }}">{{ post.user.username }}</a>
		<div class="entry-subtitle" am-time-ago="post.time"></div>
	</div>
</div>

<div class="meta-data" ng-if="post.type == 'activity'">
	<span class="title">{{ post.activity.title }}</span>
	<span class="badge badge-success">{{ post.activity.participants.length }}</span>
	<span class="location">
		<span class="icon-location"></span>
		Beatpol
	</span>
	<span class="date">
		<span class="icon-calendar"></span>
		{{ post.activity.date | date: 'dd.MM.yyyy' }} um {{ post.activity.date | date: 'HH:mm' }} Uhr
	</span>
	<div>
		<ul class="list-inline">
			<li ng-repeat="participant in post.activity.participants">
				{{participant.username}}
			</li>
		</ul>
	</div>
</div>
<div class="clearfix"></div>

<div class="content">
	<p ng-bind-html="post.body | linkyUnsanitized:'_blank' | nl2br"></p>
	<!-- Messaging -->
	<div ng-if="post.privateMessaging">
		<a href="/nachrichten/{{ post.user.username }}" class="btn btn-blue">
			{{ post.user.username }} schreiben
		</a>
	</div>
</div>
<comments ng-if="!post.privateMessaging"></comments>
