.btn {
	border-radius: 2px;
	margin-bottom: 5px;
	font-size: 13px;
	padding: 10px;
	transition: 0.5s all;
}

.btn-red {
	background: $red;
	color: #fff;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		background: $dark-blue;
		color: #fff;
		text-decoration: none;
	}
}

.btn-blue {
	background: $blue;
	color: #fff;

	&:hover,
	&:active,
	&:focus {
		background: darken($blue, 10%);
		color: #fff;
		text-decoration: none;
	}
}


.big-btn {
	
	display: block;
	position: relative;
	width: 165px;
	height: 165px;
	float: left;
	margin: 0 30px 30px 0;
	color: #333;
	background: #fff;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	transition: background-position 400ms ease, border-bottom 400ms ease;

	span {

		position: absolute;
		left: 12px;
		bottom: 10px;
		font-size: 14px;
		text-transform: uppercase;
		transition: color 0.5s;
	}

	&:hover {

		border-bottom: 2px solid rgba(0,0,0,0.4);

		span {
			color: $red;
		}
	}
}

.btn-sign-up {
	
	background: #fff;
	color: #555;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	margin: 0;
	position: relative;
	text-transform: uppercase;
	transition: color 0.5s, border-bottom 0.4s ease;

	&:hover {
	
		color: #333;
		border-bottom: 2px solid rgba(0,0,0,0.4);
	}
}

.btn-contact {
	margin-top: 16px;
}

.favBtn,
.trashBtn {
	cursor: pointer;
	color: #bbb;
	display: inline-block;

	&:hover {
		color: #888;
	}

	&.active {
		color: $red;

		&:hover {
			color: darken($red, 15%);
		}
	}
}

/*==========  Block Button  ==========*/

.block-button {
	
	&.active {
		color: $red;
	}
}

/*==========  Feedback Button  ==========*/

.feedback-btn {
	height: 104px; 
	width: 104px; 
	position: fixed; 
	top: 40%;
	z-index: 999;
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.feedback-btn a { 
	display: block; 
	background: #888; 
	padding: 8px 16px;
	color: #fff; 
	font-size: 17px; 
	font-weight: bold; 
	text-decoration: none; 
}

.feedback-btn a:hover { 
	background: #06c; 
}