.comments {

	.more-comments {
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 10px;

		span.arrow {
			color: #555;
			vertical-align: middle;
		}

		&.cursor {
			cursor: pointer;
		}
	}

	a {
		color: $blue;
		display: inline-block;
		font-size: 16px;
		font-weight: 900;
	}

	.time-since {
		color: #bbb;
		font-size: 12px;
		font-weight: 600;
		line-height: 18px;
		display: inline-block;
	}

	.comment,
	.create {

		margin-bottom: 15px;
		position: relative;

		avatar {
			position: absolute;
			z-index: 100;
		}

		img.avatar {
			border-radius: 3px;
			vertical-align: top;
			width: 36px;
			height: 36px;
			margin-bottom: 10px;
		}

		.wrapper {

			padding-left: 50px;
			position: relative;

			a {
				display: inline-block;
				font-size: 14px;
				font-weight: 600;
			}

			.body {
				color: #333;
				font-size: 13px;
				display: block;
				margin: 0;

				a {
					font-weight: normal;
				}
			}
		}
	}
}

.muted-box {

	background: #FAFAFA;
	color: #999;
	cursor: pointer;
	padding: 6px 12px;
	width: 100%;
	min-height: 30px;
	border: {
		width: 2px;
		style: solid;
		color: #EEE;
		radius: 5px;
	}
}
