.entry {

	margin-bottom: 30px;

	.entry-heading {

		margin-bottom: 10px;
		position: relative;

		.entry-icon {
			border: 8px solid #fff;
			border-radius: 50%;
			position: absolute;
			left: -85px;
			
			img {
				width: 56px;
			}

			&:hover {
				
				border-color: #FAFAFA;
			}
		}

		.entry-options {
			font-size: 22px;
			position: absolute;
			top: 10px;
			right: -35px;
		}

		.wrapper {

			padding-top: 14px;

			.entry-title {
				font-size: 18px;
			}

			.entry-subtitle {
				color: #bbb;
				font-size: 12px;
				font-weight: 600;
				line-height: 24px;
			}

			.entry-meta {
				float: right;

				span.tag {
					background: #F0F3F6;
					margin-left: 10px;
					padding: 4px 6px;
				}
			}
		}

		
	}

}