/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

* {
	margin: 0;
}

html {
    overflow-y: scroll;
    height: 100%;
}

body {
	background: $background;
	height: 100%;
}

textarea {
	resize: vertical;
}

.main {
	background: #fff;
	padding: 45px;
	min-height: 600px;
}

.main-wrapper {
	min-height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

footer {
	border-top: 1px solid #ddd;
	margin-top: 40px;
	padding: 20px 0;

	a {
		color: #333;
		transition: color 0.5s;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
}

footer,
.push {
	height: 80px;
}

.push-navbar {
	height: 70px; /* Equals height of navbar */
}