.list-tags {
	
	padding: 0;
	
	li {
		display: inline-block;
		background: #ddd;
		padding: 4px 8px;
		margin: 0 8px 8px 0;
		border-radius: 6px;
		font-size: 12px;

		a {
			color: #333;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.hover {
		
		li:hover {
			background: #F0A0A0;
			color: #fff;

			a {
				color: #fff;
			}
		}
	}
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-singles {

	@extend .list-unstyled;

	li {
		margin-bottom: 10px;

		.wrapper {
			display: inline-block;
			padding-left: 14px;
			position: relative;
			top: 12px;

			a {
				color: #333;
				font-size: 16px;
				font-weight: 800;
			}

			span {
				color: #bbb;
				display: block;
				font-size: 12px;
				font-weight: 800;
			}
		}
	}
}

.list-events {

	@extend .list-unstyled;
	
	
}