.modal-dialog {

	margin-top: 200px;

	h1 {
		font-size: 28px;
		margin-top: 0;
	}

	@media (max-width: 768px) {
		margin-top: 30px;
	}
}

.modal-content {

	border: none;
	border-radius: 0;

	@media (min-width: 768px) {
		box-shadow: none;
	}

	.icon-cancel {

		color: #bbb;
		cursor: pointer;
		font-size: 26px;
		line-height: 26px;
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 10;
		transition: 0.5s all;

		&:hover {
			color: #777;
		}
	}
}

.modal-body {

	padding: 30px;
}