#navbar {
	
	background: rgba(47, 60, 78, 0.95);
	border-width: 0px;
	padding-left: 20px;
	padding-right: 20px;

	.navbar-brand {
		color: #fff;
		font-size: 22px;
		margin-top: 3px;
	}
	
	li {

		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		height: 70px;
		min-width: 150px;
		text-align: center;
		text-transform: uppercase;

		&:active {

			background: inherit;
		}
	}

	li:last-child {

		border-right: 1px solid rgba(0,0,0,0.1);
	}
	
	li a {
	
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		line-height: 30px;

		span:first-child {
			vertical-align: middle;
		}
	}
	
	li:hover {

		background: linear-gradient(80deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 100%), linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.1) 100%), linear-gradient(280deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 100%);
	}
		
	li:focus {

		background: linear-gradient(85deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0) 100%), linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.2) 100%), linear-gradient(275deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0) 100%);
	}

	.dropdown-menu {

		li {
			height: inherit;
			text-align: left;
		}

		a {
			color: #333;
		}
	}

	.user {

		padding: 15px 0;

		img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
			vertical-align: bottom;
			transition: 0.7s cubic-bezier(.17,.67,.38,1.46) all;
		}

		span {
			font-size: 20px;
		}

		&:hover {

			img {
				transform: rotate(360deg);
			}
		}
	}

	.move {

		overflow: hidden;

		a {
			display: block;
			color: #FFF;
			overflow: hidden;
			transition: 0.3s ease all;

			span {
				display: block;
				line-height: 18px;
				transform: translate(0,180%);
				transition: 0.2s cubic-bezier(.17,.67,.38,1.46) all;
			}

			.icon {
				font-size: 24px;
				transform: translate(0,10px);
				transition: 0.2s cubic-bezier(.17,.67,.38,1.46) all;
			}

			.badge {
				background: #fff;
				border-radius: 50%;
				border: 2px solid $dark-blue;
				color: $dark-blue;
				font-size: 10px;
				font-weight: 900;
				height: 18px;
				width: 18px;
				position: absolute;
				top: 14px;
				line-height: 13px;
				margin-left: 4px;
				padding: 0 0 0 1px;
				text-align: center;
				z-index: 100;
				transform: translate(0,5px);
				transition: 0.2s cubic-bezier(.17,.67,.38,1.46) all;
			}

			&:hover {
				span {
					transform: translate(0);
				}

				.icon {
					transform: translate(0,0) scale(1.2);
				}

				.badge {
					transform: translate(0,-5px) scale(1.2);
				}
			}

			@media (max-width: 768px) {
	
				span {
					display: inline-block;
					transform: none;
					transition: none;
				}

				.icon {
					display: none;
				}

				.badge {
					font-size: 12px;
					display: inline-block;
					position: relative;
					background: inherit;
					border: none;
					top: 0;
					padding: 0;
					transform: none;
					transition: none;
				}

				&:hover {
					.badge {
						transform: none;
					}
				}
			}
		}

		
	}
}
