#sidebar {

	h3 {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		float: left;
		font-weight: 300;
		padding-bottom: 20px;
		margin-bottom: 20px;

		&:after {
			content: " ";
			clear: both;
			display: table;
			height: 1px;
			width: 100%;
		}
	}

}