#stream {
	
	.meta-data {

		border-bottom: 2px solid #DBDBDB;
		margin-bottom: 10px;
		padding: 6px 0;

		.icon-calendar,
		.icon-location {
			vertical-align: middle;
		}

		.title {
			font-weight: 800;
		}

		.date {
			float: right;
		}

		.location {
			float: right;
			margin-left: 10px;
		}
	}
}